.folio{
  .folio-image-cover {
    margin-bottom: 1rem;
  }
  .folio-image{
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
  }
}
.folio-section{
  border-radius: 1rem;
  padding: 1rem;
}
